.acfHeader {
	text-align: center;
	font-size: var(--8);
	font-weight: 600;
}

.content {
	display: inherit;
	margin: var(--10) auto;
	max-width: var(--lg);
	min-width: var(--md);
	color: var(--text-body);
	font-size: var(--5);
}
